{% extends 'pages/base.html' %}

{% block title %}
Facepage
{% endblock title %}

{% block header %}
    <h3>Hello: <a href="{% url 'profile' name %}">{{name}}</a></h3>
    <a href="{% url 'posts:home'%}">Home</a>
    <form action="{% url 'users:logout' %}" method="POST"> {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <form action="{% url 'posts:search' %}" method="GET">
        <input type="text" name="search-text" id="search_content">
        <input type="submit" value="Search">
    </form>
    <div><a href="{% url 'users:settings' %}">Settings</a></div>
    <div><a href="{% url 'messenger:empty-chat' %}">Chat</a></div>
{% endblock header %}
{% block content %}
    {% if my_last_post %}
    <div>
        <p><strong>Your latest post:</strong></p>
        <p>{{ my_last_post.post_content }}</p>
        <p>{{ my_last_post.create_date }}</p>
        <p>Likes: {{ my_last_post.likes }}</p>
        <p>Comments: {{my_last_post.comments}}</p>
    </div>
    {% else %}
    <div>
        <p>You dont have any posts</p>
    </div>
    {% endif %}
    <form action="{% url 'posts:add-post' %}" method="post"> {% csrf_token %}
        <textarea name="new-post-content" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Add post">
    </form>
    <br>
    <p><strong>Latest from friends</strong></p>
    {% for post_query in friends_posts %}
        {% for post in post_query %}
            <div>
                <p><a href="{% url 'profile' post.creator %}">{{ post.creator }}</a></p>
                <p>{{ post.post_content }}</p>
                <p>{{ post.create_date }}</p>
                <p>Likes: {{ post.likes }}</p>
                <p>Comments: {{post.comments}}</p>
                {% if post.comments != 0%}
                <div>
                    <h4>Comments:</h4>
                    {% for comment in post.comment_set.all %}
                        <p>{{comment.creator}}: {{comment.comment_content}}</p>
                        <p>{{comment.create_date}}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="actions">
                    <div class="like">
                        {% if post in liked_posts %}
                            <p>You liked this post</p>
                        {% else %}
                        <form action="{% url 'posts:like-post' post.id %}" method="GET"> {%csrf_token%}
                            <input type="submit" value="Like">
                        </form>
                        {% endif %}
                    </div>
                    <div class="comment">
                        <form action="{% url 'posts:add-comment' post.id %}" method='GET'> {%csrf_token%}
                            <input type="text" name="comment-content">
                            <input type="submit" value="Add comment">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock content %}
