{% extends 'users/index.html' %}
{% block title %}
    Settings
{% endblock %}

{% block header %}
        <a href="{% url 'users:index' %}">Home</a>
{% endblock header %}
{% block content %}
    <p>
        Any changes you commits needs a password, use your old password if you don't want to change it
        <br>
        Or a new password with your new data if you want to change it
    </p>
    <div>
        <form action="{% url 'users:settings' %}" method="post"> {%csrf_token%}
            <fieldset>
                <legend>Settings</legend>
                <p>
                    <label for="username">Username</label>
                    <input type="text" value="{{username}}"name="username" id="username" disabled>
                </p>
                <p>
                    <label for="email">E-mail</label>
                    <input type="email" value="{{email}}"name="email" id="email">
                </p>
                <p>
                    <label for="password1">New password</label>
                    <input type="password" name="password1" id="password1" required>
                </p>
                <P>
                    <label for="password2">Password confirmation</label>
                    <input type="password" name="password2" id="password2" required>
                </P>
                <input type="submit" value="Save">

            </fieldset>
        </form>
    </div>
    <div class="Instructions">
        <p>Don't upload anything if you wish to not change you current profile picture</p>
    </div>
    <div class="bio">
        <fieldset>
            <legend>Bio and profile picture</legend>
            <form action="{% url 'users:change-bio' %}" method="POST" enctype="multipart/form-data"> {%csrf_token%}
                {{bio_form.as_p}}
                <input type="submit" value="Save">
            </form>
            {% if request.user.profile.profile_picture.url == '/media/profile_pics/default.jpg' %}
                <p>You don't have a profile picture to delete</p>
            {% else %}
                <a href="{% url 'users:delete-profile-picture' %}">Delete current profile picture</a>
            {% endif %}
        </fieldset>
    </div>
    
    <div class="danger-section">
        <fieldset>
            <legend>Danger section</legend>
            {% if request.user.is_superuser %}
               <p>Can't delete a superuser account</p>
            {% else %}
                <p><a href="{% url 'users:delete' %}">Deleting account</a></p>
            {% endif %}
        </fieldset>
    </div>
{% endblock content %}