{% extends 'users/index.html' %}

{% block title%}
Register
{% endblock %}

{% block content %}
<form action="{% url 'users:register' %}" method="POST"> {%csrf_token%}
    <fieldset>
        <legend>Join now</legend>
        <!-- <label for="new-username">Username: </label>
        <input type="text" name="new-username" id="new-username" required="required">
        <label for="new-password">Password: </label>
        <input type="password" name="new-password" id="new-password" required="required">
        <input type="submit" value="Register"> -->
        {{form.as_p}}
        <input type="submit" value="Sign up">
    </fieldset>
</form>
<small>Already have an account ? <a href="{% url 'users:index' %}">Login</a></small>
{% endblock %}