{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Facepage Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="{% static 'pages/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'pages/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'pages/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'pages/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'pages/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'pages/vendor/css-hamburgers/hamburgers.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'pages/vendor/animsition/css/animsition.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'pages/vendor/select2/select2.min.css'%}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'pages/vendor/daterangepicker/daterangepicker.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'pages/css/util.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/css/main.css'%}">
    <!--===============================================================================================-->
    </head>
    <body>
        
        <div class="limiter">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" style="display:flex; text-align: center; justify-content: center; font-weight: bold; color: red;">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container-login100">
                <div id="container" class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                    <form id ="submit-form"> {%csrf_token%}
                        <span class="login100-form-title p-b-33" style="color: #1877f2; font-weight: bolder;">
                            Facepage
                        </span>
                        <span class="login100-form-title p-b-33">
                            Please enter your email to reset your password
                        </span>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="email" name="email" placeholder="E-mail">
                            <span class="focus-input100-1"></span>
                            <span class="focus-input100-2"></span>
                        </div>

                        <div class="container-login100-form-btn m-t-20">
                            <button class="login100-form-btn" type="submit">
                                Reset
                            </button>
                        </div>
                    </form>
                    <div class="container-login100-form-btn m-t-20">
                        <a href="{% url 'users:index'%}" class="login101-form-btn" type="submit">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!--===============================================================================================-->
        <script src="{% static 'pages/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'pages/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'pages/vendor/bootstrap/js/popper.js'%}"></script>
        <script src="{% static 'pages/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'pages/vendor/select2/select2.min.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'pages/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'pages/vendor/daterangepicker/daterangepicker.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'pages/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'pages/js/main.js'%}"></script>
        <script>
            var form = document.getElementById("submit-form");
            form.addEventListener("submit", (e) =>
            {
                e.preventDefault();
                var email = document.getElementsByName('email')[0].value;
                var csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;
                var params = "email="+email+"&csrfmiddlewaretoken="+csrf;
                var xhr = new XMLHttpRequest()
                xhr.open("POST", "{% url 'users:forgot-password' %}", true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onload = function()
                {
                    if(this.status === 200)
                    {
                        var container = document.getElementById("container");
                        var response = JSON.parse(this.responseText);
                        if(response.message == "good")
                        {
                            container.innerHTML = '<span class="login100-form-title p-b-33">'+
                                    'Please check your email for reset'+
                                '</span><a href="{% url "users:index"%}">Login</a>;'
                                
                        }
                        else if(response.message == "no user")
                        {
                            var errorElement = document.getElementById("error-email")
                            if(document.getElementById("error-email"))
                                errorElement.remove();
                            
                            container.innerHTML += '<span id="error-email" class="login100-form-title p-b-12">'+
                                'There is no account associated with this email</span>';
                            
                        }
                        else if(response.message == "cannot send")
                        {
                            var errorElement = document.getElementById("error-email")
                            if(errorElement)
                                errorElement.remove();
                            
                            container.innerHTML += '<span id="error-email" class="login100-form-title p-b-12">'+
                                'Cannot send your password reset message, please try again later</span>';
                        }
                    }
                };
                
                xhr.onerror = function(e)
                {
                    console.log(e.data);
                    console.log(this.responseText);
                }
                xhr.send(params);
            });
        </script>
    </body>
</html>