{% extends 'pages/Base.html' %}

{% block main %}
<div class="column col-sm-10 col-xs-11" id="main">
  <div class="padding">
    <div class="full col-sm-9" >

      <div class="testbox">
        <form action="{% url 'users:personal-settings' %}" method="POST" enctype="multipart/form-data"> {%csrf_token%}
          <h1>Settings</h1>
          <br><hr>

          <div class="item">
            {{bio_form.non_field_errors}}
            <p>Personal Information</p>
            <div class="name-item">
              <input id="{{bio_form.first_name.id_for_label}}" value="{{bio_form.first_name.value}}" type="text" class="name-item" name="first_name" placeholder="First Name"/>
              <input id="{{bio_form.last_name.id_for_label}}" value="{{bio_form.last_name.value}}" type="text" class="name-item" name="last_name" placeholder="Last Name"/>	
              <input id="{{bio_form.phone_number.id_for_label}}" value="{{bio_form.phone_number.value}}" type="text" name="phone_number" placeholder="Mobile Number" />
              <input id="{{bio_form.birthday.id_for_label}}" type="date" value="{{bio_form.birthday.value}}" class="name-item" name="birthday" placeholder="Birthday" />					
            </div>
          </div>
            <div class="item">										
            <label for="{{bio_form.gender.id_for_label}}">Gender:</label>
            <select id="{{bio_form.gender.id_for_label}}" name="gender" style="background-color: #fff;">
              <option value="M" {%if bio_form.gender.value == 'M'%} selected {% endif %}  >Male</option>
              <option value="F" {%if bio_form.gender.value == 'F'%} selected {% endif %}  >Female</option>
              <option value="O" {%if bio_form.gender.value == 'O'%} selected {% endif %}  >Other</option>
            </select>
                                  </div>
            <div class="item">
              <p>Profile Picture</p>
              <input id="{{bio_form.profile_picuture.id_for_label}}" type="file" accept="image/*" name="profile_picture"/>
              {% if profile_pic == '/media/profile_pics/default.jpg' %}
                <p>You don't have a profile picture to delete</p>
              {% else %}
                <a href="{% url 'users:delete-profile-picture' %}">Delete current profile picture</a>
              {% endif %}
              <hr>
              <p>Cover Picture</p>
              <input id="{{bio_form.profile_cover.id_for_label}}" type="file" accept="image/*" name="profile_cover"/>
              {% if profile_cover == '/media/profile_covers/default.jpg' %}
                <p>You don't have a profile cover to delete</p>
              {% else %}
                <a href="{% url 'users:delete-profile-cover' %}">Delete current profile cover</a>
              {% endif %}
              
            </div> 
            
            <br>
            <div class="item">
              <p>Bio<br><span style="color: rgb(90, 90, 90); font-size: 13px;">Be as specific as possible</span></p>
              <textarea id="{{bio_form.bio.id_for_label}}" name="bio" rows="2" style="resize:vertical;">{{bio_form.bio.value}}</textarea>
            </div>
            <button class="buttonS" type="submit" >Save</button>
            
        
            <hr><br>
      


        </form>
        </div>
       <hr>
       <h4 class="text-center">
      <p style="font-size: 11px;">Privacy· Terms· Advertising· Ad Choices <i class="fas fa-angle-double-right"></i>· Cookies· More· Facepage © 2021</p>
       </h4>
       <hr>
  
      
      
    </div><!-- /col-9 -->
  </div><!-- /padding -->
</div>
{% endblock main%}