{% extends 'pages/base.html' %}
{% load humanize %}
{% block title %}
    {{name}}
{% endblock %}

{% block header %}
    <a href="{% url 'posts:home' %}">Home</a>
    <br>
    {% if are_they_friends %}
        <p>You are friend with {{name}}</p>
    {% elif are_they_friends == False %}
        <a href="{% url 'posts:add-friend' name %}">add friend</a>
    {% endif %}
{% endblock header %}
{% block content %}
    <div style="text-align: center;" name='Bio'>
        <img src="{{ profile_pic.url }}" alt="Profile picture">
        <p>{{first_name}} {{last_name}}</p>
        <p>{{bio}}</p>
    </div>
    
    {% for post in page_obj %}
        <div>
            <p><a href="{% url 'profile' post.creator %}">{{ post.creator }}</a></p>
            <p>{{ post.post_content }}</p>
            <p>{{ post.create_date|naturaltime }}</p>
            <p>Likes: {{ post.likes }}</p>
            <p>Comments: {{post.comments}}</p>
            {% if request.user.username == name %}
                <a href="{% url 'posts:update' post.id %}">Edit this post</a>
                <a href="{% url 'posts:delete' post.id %}">Delete this post</a>
            {% endif %}
            {% if post.comments != 0%}
            <div>
                <h4>Comments:</h4>
                {% for comment in post.comment_set.all %}
                    <p>{{comment.creator}}: {{comment.comment_content}}</p>
                    <p>{{comment.create_date|naturaltime}}</p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="actions">
                <div class="like">
                    {% if post in liked_posts %}
                        <p>You liked this post</p>
                    {% else %}
                    <form action="{% url 'posts:like-post' post.id %}" method="GET"> {%csrf_token%}
                        <input type="submit" value="Like">
                    </form>
                    {% endif %}
                </div>
                <div class="comment">
                    <form action="{% url 'posts:add-comment' post.id %}" method='GET'> {%csrf_token%}
                        <input type="text" name="comment-content">
                        <input type="submit" value="Add comment">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="paginator">
        
        {% if page_obj.number != 1 %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for number in page_obj.paginator.page_range %}
            {% if number == page_obj.number %}
                {{number}}
            {% elif number > page_obj.number|add:'-3' and number < page_obj.number|add:'3' %}
                <a href="?page={{ number }}">{{ number }}</a>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.number != page_obj.paginator.num_pages %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>

{% endblock content %}