{% extends 'pages/Base.html'%}
{% load static %}
{% load humanize %}

{% block title %} {{post.creator.first_name}}'s post {% endblock title %}
{% block style %} {% endblock style%}


{% block sidebar %}
<!-- sidebar -->
<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
					  
    <ul class="nav">
        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    </ul>
   
    <ul class="nav hidden-xs" id="lg-menu">
        <li class="active"><a href=""><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-list"></i> Stories</a></li>
        <li><a href="#"><i class="fas fa-user-friends"></i> Friends</a></li>
        <li><a href="#"><i class="fas fa-history"></i> Memories</a></li>
        <li><a href="#"><i class="fas fa-bookmark"></i> Saved</a></li>
        <li><a href="#"><i class="fas fa-users"></i> Groups</a></li>										
    </ul>
    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
        <li>
         <p style="font-size: 11px;">Privacy· Terms· Advertising· <br>Ad Choices <i class="fas fa-angle-double-right"></i>· Cookies· More· Facepage © 2021</p>
        </li>
    </ul>
  
    <!-- tiny only nav-->
  <ul class="nav visible-xs" id="xs-menu">
        <li><a href="" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
        <li><a href="#" class="text-center"><i class="fas fa-user-friends"></i></a></li>
        <li><a href="#" class="text-center"><i class="fas fa-history"></i></a></li>
        <li><a href="#" class="text-center"><i class="fas fa-bookmark"></i></a></li>
        <li><a href="#" class="text-center"><i class="fas fa-users"></i></a></li>
    
    </ul>
  
</div>
{% endblock sidebar %}

{% block main %}
<div class="column col-sm-10 col-xs-11" id="main">
              
<hr>

<div class="padding">

<div class="full col-sm-9" >

    
<!-- content -->                      
<div class="row">

 <!-- main col left --> 
 <div class="col-sm-5">
   
    <!-- <div class="well"> 
        <form class="form-horizontal" role="form">
        <h4>What's New</h4>
            <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="What's on your mind?"></textarea>
        </div>
        <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="fas fa-photo-video"></i></a></li><li><a href=""><i class="fas fa-user-tag"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
        </form>
    </div> -->
    {% comment %}
        <div class="panel panel-default">
        <div class="panel-heading" >
            <img src="{{ post.creator.profile.profile_picture.url }}" class="img-circle pull-left">
            {% if my_post %}
                
                <a href="{% url 'posts:delete' post.id %}"><button type="submit" class="pull-right"><i class="fas fa-trash-alt"></i></button></a>
                
                    
                <a href="{% url 'posts:update' post.id %}"><button type="submit" class="pull-right"><i class="fas fa-edit"></i></button></a>
                
            {% endif %}
            <h4 style="font-size: 17px; font-weight: bold;"><a href="{% url 'profile' post.creator.profile.link %}">{{ post.creator.profile.name}}</a><br>
            <p style="font-size: 13.5px; font-weight: lighter;">{{ post.create_date|naturaltime }}. <i class="fas fa-globe-americas" style="font-size: 13px;"></i></p>
        </h4>
        </div>
            <div class="panel-body">

            <p>{{ post.post_content }}</p>
            
            <!-- <hr>
            <div class="panel-thumbnail"><img src="{% static 'pages/img/bg_5.jpg'%}" class="img-responsive"></div> -->
            <div class="clearfix"></div>
            <hr>
            <div class="input-group">
                <div class="input-group-btn">
                    {% if post in liked_posts %}
                        <form action="{% url 'posts:unlike-post' post.id %}" method="GET"> {%csrf_token%}
                            <button class="btn btn-default"><i class="fas fa-thumbs-down"></i> {{ post.likes }}</button>
                        </form>
                    {% else %}
                    <form action="{% url 'posts:like-post' post.id %}" method="GET"> {%csrf_token%}
                        <button class="btn btn-default"><i class="fas fa-thumbs-up"></i> {{ post.likes }}</button>
                    </form>
                    {% endif%}
                </div>
                <form action="{% url 'posts:add-comment' post.id %}" method="get"> {%csrf_token%}
                    <input name="comment-content" class="form-control" placeholder="Add a comment.." type="text">
                </form>
            </div>
            {% for comment in post.comment_set.all %}
                <div class="panel-heading" style="background-color: lightgrey; margin-bottom: 20px;">
                    <img src="{{comment.creator.profile.profile_picture.url}}" class="img-circle pull-left">
                    <h4 style="font-size: 15px; font-weight: bold;">{{comment.creator.profile.name}}<br>
                    <p style="font-size: 13.5px; font-weight: 300;">
                        {{comment.comment_content}}
                    </p></h4>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endcomment%}
        <div id="post" class="panel panel-default">
            <div class="panel-heading" style="border-bottom: none;"	>
                <img src="{{ post.creator.profile.profile_picture.url }}" class="img-circle pull-left" >
                {% if my_post %}
                    <a onclick="deletePost('{{post.id}}');" class="delete-post-button"><button type="submit" class="pull-right"><i class="fas fa-trash-alt"></i></button></a>
                    <a href="{% url 'posts:update' post.id %}"><button type="submit" class="pull-right"><i class="fas fa-edit"></i></button></a>
                {% endif %}
                <h4 style="font-size: 17px; font-weight: bold;"><a href="{% url 'profile' post.creator.profile.link %}">{{post.creator.profile.name}}</a> {% if post.shared_post%}<small>shared a post:</small>{% endif %}
                    <br>
                    <p style="font-size: 13.5px; font-weight: lighter;">{{post.create_date|naturaltime}} <i class="fas fa-globe-americas" style="font-size: 13px;"></i></p>
                </h4>
            </div>
            <p id="{{post.id}}-content" style="margin-left: 18px;">
                {% if post.post_content|length > 222%}
                {{post.post_content|slice:"0:222"}}<span class="dots">... <a id="{{post.id}}-show-more-button" style="font-weight: 600px;text-decoration: none;" onclick="showMoreFunction('{{post.id}}-content', '{{post.id}}-show-more-button')">See More</a></span>
                <span style="display: none;" class="more">{{post.post_content|slice:"222:"}}
                </span>
                {% else %}
                {{post.post_content}}
                {% endif %}
            </p>
            <div class="panel-body">
                {% if post.shared_post %}
                {% if post.original_post != none %}
                <div class="shared-post" style="border: 1px solid #dddddd; ">
                    <div class="panel-heading" ><img src="{{post.original_post.creator.profile.profile_picture.url}}" class="img-circle pull-left" >
                        <!-- <button class="pull-right"><i class="fas fa-user-plus"></i></button> -->
                        <h4 style="font-size: 17px; font-weight: bold;"><a href="{% url 'profile' post.original_post.creator.profile.link %}">{{post.original_post.creator.profile.name}}</a>
                            <br>
                            <p style="font-size: 13.5px; font-weight: lighter;">{{post.original_post.create_date|naturaltime}} <i class="fas fa-globe-americas" style="font-size: 13px;"></i></p>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            <a id="{{post.id}}-content-shared" href="{% url 'posts:view-post' post.original_post.id %}">
                                {% if post.original_post.post_content|length > 222%}
                                {{post.original_post.post_content|slice:"0:222"}}
                                <span class="dots">... </span>
                                <span style="display: none;" class="more">{{post.original_post.post_content|slice:"222:"}}</span>
                                {% else %}
                                {{post.original_post.post_content}}
                                {% endif %}
                            </a>
                            {% if post.original_post.post_content|length > 222%}
                                <a id="{{post.id}}-show-more-button-shared" style="font-weight: 600px;text-decoration: none;" onclick="showMoreFunction('{{post.id}}-content-shared', '{{post.id}}-show-more-button-shared');">See More</a></span>
                            {% endif %}
                        </p>
                        {% if post.original_post.image != ''%}
                        <div class="panel-thumbnail"><img src="{{post.original_post.image.url}}" class="img-responsive"></div>
                        <div class="clearfix"></div>
                        {% endif%}
                    </div>
                </div>
                {% else %}
                <div class="shared-post" style="border: 1px solid #dddddd; ">
                    <p>Cannot view this post maybe it has been deleted</p>
                </div>
                {% endif %}
                <br>
                {% elif post.image != ''%}
                <div class="post-img" style="border: 1px solid #dddddd;">
                    <div class="panel-body">
                    <div class="panel-thumbnail"><img src="{{post.image.url}}" class="img-responsive"></div>
                    <div class="clearfix"></div>
                    </div>
                </div><!-- post-img-->
                <br>
                {% endif %}

                <div class="input-group">
                    <div class="input-group-btn">
                        {% if post in liked_posts %}
                            <button id="{{post.id}}-like" onclick="likeButtonAction('{{post.id}}')" class="btn btn-default like" style="float: left;"><i class="fas fa-thumbs-down"></i> {{ post.likes }}</button>
                        {% else %}
                            <button id="{{post.id}}-like" onclick="likeButtonAction('{{post.id}}')" class="btn btn-default like" style="float: left;"><i class="fas fa-thumbs-up"></i> {{ post.likes }}</button>
                        {% endif%}
                        <form action="{% url 'posts:share-post' post.id %}" method="POST"> {%csrf_token%}
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-share"></i></button>
                        </form>
                    </div>
                    <form action="{% url 'posts:add-comment' post.id %}" method="get"> {%csrf_token%}
                        <input name="comment-content" class="form-control" id="CommentInput" style="margin-left: 40px;" placeholder="Add a comment.." type="text">
                    </form>
                </div>
                {% for comment in post.comment_set.all %}
                <div class="comment" style="margin-top: 20px;"><!--start comment-->
                        <img src="{{comment.creator.profile.profile_picture.url}}" class="img-circle pull-left" >
                        <!-- <button class="pull-right"><i class="fas fa-trash"></i></button>  -->
                        <div class="right">
                            <h4 style="font-size: 15px; font-weight: bold; ">{{ comment.creator.profile.name }}<br>
                                <p style="font-size: 13.5px; font-weight: 300; margin-top: 3px;">
                                    {{comment.comment_content}}
                                </p>
                            </h4>
                        </div>
                    </div>
                {% endfor%}     
            </div>
        </div>
   </div>
  

</div><!--/row-->

<hr>
<h4 class="text-center">
<p style="font-size: 11px;">Privacy· Terms· Advertising· Ad Choices <i class="fas fa-angle-double-right"></i>· Cookies· More· Facepage © 2021</p>
</h4>
<hr>



</div><!-- /col-9 -->
</div><!-- /padding -->
</div>
<!-- /main -->
{% endblock main %}

{% block scripts %}
{{ block.super }}
{% if my_post %}
<script src="{% static 'pages/js/csrf.js' %}"></script>
<script>
    function deletePost(postID)
    {
        var xhr = new XMLHttpRequest();
        var url = '/home/delete-post/'+postID+'/';
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onload = function()
        {
            if(this.status === 200)
            {
                var respond = JSON.parse(this.responseText);
                if(respond.message === "good")
                {
                    var post = document.getElementById('post');
                    post.innerHTML = "<center><p style='padding-top: 10px;'>Post deleted</p></center>"
                }
            }
        }
        xhr.send("csrfmiddlewaretoken=" +getCookie('csrftoken'));
    }
</script>
{% endif %}
<script src="{% static 'pages/js/postShowMore.js'%}"></script>
<!-- Ajax call for liking and disliking posts -->
<script>
function likeButtonAction(buttonID)
{
    var xhr = new XMLHttpRequest()
    var button = document.getElementById(buttonID+"-like");
    var i = button.children[0]
    if(i.classList.contains("fa-thumbs-up"))
    {
        xhr.open("GET", location.protocol + "//" + location.host + "/home/ajax-like/" + buttonID +"/", true);
        xhr.onload = (e) =>
        {
            var response = JSON.parse(xhr.responseText);
            if(response.message === "good")
            {
                i.classList.replace("fa-thumbs-up", "fa-thumbs-down");
                button.innerHTML = '';
                button.appendChild(i);
                button.innerHTML += ' ' + response.likes
            }
            else
            {
                errorInLiking(button);
            }
        };
    }
    else if(i.classList.contains("fa-thumbs-down"))
    {
        xhr.open("GET", location.protocol + "//" + location.host + "/home/ajax-unlike/" + buttonID +"/", true);
        xhr.onload = (e) =>
        {
            var response = JSON.parse(xhr.responseText);
            if(response.message === "good")
            {
                i.classList.replace("fa-thumbs-down", "fa-thumbs-up");
                button.innerHTML = '';
                button.appendChild(i);
                button.innerHTML += ' ' + response.likes
            }
            else
            {
                errorInLiking(button);
            }
        };
    }

    xhr.onerror = (e) =>
    {
        errorInLiking(button)
    };
    xhr.send()
}

function errorInLiking(button)
{
    var p = document.createElement("p");
    p.innerText = "There was an error please refresh the page";
    button.parentElement.appendChild(p);
}
</script>
{% endblock scripts %}
